@model IEnumerable<RpgHBAnnals.Model.Npc.NpcListItem>

@{
    ViewBag.Title = "Index";
}

<div class="Head">

<h2>Non-Player Characters (NPC)</h2>
    <p>
        Welcome to the non player characters! <b>All NPC's have commoner stats</b> (10's across the bord) unless specified in the notes section. Look around at some of these great creations and add a little spice to your game or a surprise for your players. If you are feeling froggy or like something is missing give the Creat New button a firm click and share your most memerable or down right crazy NPC.
    </p>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Race)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Race)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NpcId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NpcId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NpcId })
        </td>
    </tr>
}

</table>
