@model IEnumerable<RpgHBAnnals.Model.Weapon.WeaponListItem>

@{
    ViewBag.Title = "Index";
}

<div class="Head">

<h2>Weapons</h2>
    <p>
        Welcome to the Armory! Look around at the selection of weapons and try your hand at makeing one. Feel free to share your goofy, useful, or down right game breaking creations! 
    </p>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeaponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeaponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeaponId })
        </td>
    </tr>
}

</table>
